.intro{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    position: relative;
}

.introBg{
    position: fixed;
    z-index: -1;
    transition: all 1s;
    width: 100%;
    height: 100vh;
    filter: brightness(0.4);
    object-fit: cover;
}

.introBox{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
}

.wordBox{

}

.word{
    font-size: 80px;
    font-family: 'Kristi', cursive;
    color: #a3a3a3;
    z-index: 0;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.word:hover{
    color: #fff;
}

.myselfBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.myself{
    font-family: 'S-CoreDream-3Light';
    color: #fff;
    font-size: 20px;
}

.bold{
    font-size: 25px;
    font-family: 'S-CoreDream-7EXTRA_BOLD';
}

.myselfTitle{
    font-family: 'S-CoreDream-3Light';
    color: #fff;
    font-size: 30px;
}

.downBox{
    position: absolute;
    bottom: 20px;
    display: flex;
}

.down{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
}

.downBox:hover .down{
    animation: wave 1.5s ease-in-out;
}

@keyframes wave {
    0%, 40%, 100% {transform: translateY(0);}
    20%{transform: translateY(-15px);}
    60%{transform: translateY(-5px);}
}


.my{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.myBg{
    position: absolute;
    z-index: -1;
    transition: all 1s;
    width: 100%;
    height: 100vh;
    filter: brightness(0.9);
    object-fit: cover;
}

.myBox{
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.aboutMeBox{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.aboutMe{
    font-size: 40px;
    font-family: 'S-CoreDream-9BLACK';
    color: #fff;
    text-shadow: 1px 1px 25px #000;
    /* padding-bottom: 15px;
    border-bottom: 1px solid #fff; */
    user-select: none;
    cursor: pointer;
}

.infoBox{
    display: flex;
    width: 1100px;
    /* padding: 30px; */
    box-sizing: border-box;
    /* border-radius: 20px; */
}

.info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.itemBox{
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
    width: 353px;
    box-sizing: border-box;
    transition: all 0.3s;
}

.itemBox:hover{
    transform: scale(1.05);
}

.leftBox{

}

.myIcon{
    font-size: 30px;
}

.rightBox{
    margin-left: 20px;
    margin-top: -3px;
}

.infoName{
    font-family: 'S-CoreDream-7EXTRA_BOLD';
    font-size: 20px;
}

.infoItemBox{
    margin-top: 5px;
    font-size: 14px;
    font-family: 'S-CoreDream-3Light';
}

.nameBox{
    width: 100%;
    margin-bottom: 30px;
}

.name{
    color: white;
    font-size: 35px;
    font-family: 'MYYeongnamnu';
}